.hidden {
  display: none;
}

body {
  position: relative;
  height: 960px;
}
img {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -999;
  
}

#clock {
  /* background-color: yellow; */
  font-size: 100px;
  text-align: center;
  color: aliceblue;
  padding-top: 10rem;
}
#login-form {
  /* background: red; */
  width: 100%;
  height: 50px;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#login-form input {
  margin: 0;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  padding: 0.25rem;
}
#login-form button {
  margin: 0;
  background-color: #339af0;
  color: #fff;
  border-radius: 20px;
  font-size: 0.75rem;
  border: none;
  padding: 0.4rem 1rem;
  
}
#login-form button:hover {
  background-color: #1971c2;
}
#greeting {
  /* background-color: bisque; */
  width: 100%;
  height: 50px;
  color:aliceblue;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* transition: .5s; */
}
.center {
  width: 100%;
  text-align: center;
  /* background-color: red; */
  margin: 5% 0;
}
#todo-form {
  /* background: red; */
  margin: 5px 0;
}
#todo-list {
  /* background: blue; */
  height: 100px;
  color: aliceblue;
}
#todo-list li {
  margin: 3% 0;
  transition: 1s;
}
button {
  margin-left: 2%;
  cursor: pointer;
}
#quotes {
  padding-top: 3rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
#weather {
  color: aliceblue;
  position: absolute;
  top: 3%;
  right: 5%;
}

