.hidden {
  display: none;
}

body {
  position: relative;
  height: 960px;
}
img {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -999;
  
}

#clock {
  /* background-color: yellow; */
  font-size: 100px;
  text-align: center;
  color: aliceblue;
  padding-top: 10rem;
}
#login-form {
  /* background: red; */
  width: 100%;
  height: 50px;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#login-form input {
  margin: 0;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  padding: 0.25rem;
}
#login-form button {
  margin: 0;
  background-color: #339af0;
  color: #fff;
  border-radius: 20px;
  font-size: 0.75rem;
  border: none;
  padding: 0.4rem 1rem;
  
}
#login-form button:hover {
  background-color: #1971c2;
}
#greeting {
  /* background-color: bisque; */
  width: 100%;
  height: 50px;
  color:aliceblue;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* transition: .5s; */
}
.center {
  width: 100%;
  text-align: center;
  /* background-color: red; */
  margin: 5% 0;
}
#todo-form {
  margin: 5px 0;
}
#todo-form input {
  width: 15%;
  border-radius: 20px;
  border: none;
  font-size: 0.75rem;
  padding: 0.5rem 1.5rem;
}
#todo-list {
  background: rgba(225, 225, 225, 0.8);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  width: 18%;
  margin: 0 auto;
  height: 100%
  color: #333;
}
#todo-list li {
  margin-top: 0.5rem;
  transition: 1s;
}
#todo-list li:first-of-type {
  font-size: 0.75rem;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(96, 96, 96, 0.662);
  padding-bottom: 0.5rem;
}
#todo-list button {
  background: none;
  border: none;
  margin-left: 2%;
  cursor: pointer;
  transition: 1s;
  border-radius: 20px;
}
#todo-list button:hover {
  border-radius: 20px;
  background: aliceblue;
}
#quotes {
  padding-top: 3rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
#weather {
  color: aliceblue;
  position: absolute;
  top: 3%;
  right: 5%;
}

